* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open sans", sans-serif;
}
  #head {
  background-color: black;
  width: 100%;
  height: 35px;
  font-family: "Open sans", sans-serif;
}
.main-width {
  width: 1000px;
  margin: auto;
}
#logo {
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  font-weight: bolder;
  margin: 7px auto;
  letter-spacing: 0.3em;
  float: left;
}

span {
  color: #53C6A3;
}
#menu {
  float: right;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  font-weight: bolder;
  list-style: none;
  margin: 7px auto;
  letter-spacing: 0.3em;
}

#menu li {
  display: inline-block;
}
#menu a {
  margin-left: 30px;
  text-decoration: none;
  list-style: none;
  color: white;
}
#slider {
    width: 100%;
    height: 450px;
    background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
}

#black-chair {
    float: left;
    background-image: url("../images/black_chair.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    height: 400px;
    margin-top: 50px;
}
#zobacz {
  float: right;
  width: 50%;
  height: 400px;
  margin-top: 50px;
  text-align: center;
  padding-top: 50px;
}
#zobacz h2 {
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 0.15em;
  margin-left: 15px;
}
#zobacz p {
  color: #555;
  padding-top: 40px;
}
#button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: #53C6A3;
  font-family: "Open sans", sans-serif;
  text-transform: uppercase;
  border: 1px solid transparent;
  font-size: 25px;
  color: white;
  margin: 20px 70px;
}
#chair-examples {
  box-sizing: border-box;
}

.opacity-blue {
  position: absolute;
  width: 315px;
  bottom: 0;
  height: 100px;
  background-color: rgba(255,255,255, 0.5);
  padding: 5% 5%;
  font-weight: bold;
}
.box {
  display: inline-block;
  width: 315px;
  height: 240px;
  box-sizing: border-box;
  margin: 20px 9px;
  background-color: white;
  background-repeat: no-repeat;
  float: left;
  position: relative;
}
.clear {
  clear: both;
  display: block;
}
#left {
  background-image: url("../images/box1_img.jpg");
  background-size: contain;
}

#right {
  text-align: left;
  padding-left: 20px;
  border: 1px solid #999;
  line-height: 1.3em;

}
#right h3 {
  font-size: 16px;
  padding: 3px;
  padding-top: 30px;
}
#right p {
  font-size: 14px;
  color: #777;
  padding-top: 10px;

}

#center {
  background-image: url("../images/box2_img.jpg");
  background-size: contain;
}

.line-blue {
  width: 140px;
  height: 7px;
  border: 1px solid transparent;
  background-color: #53C6A3;
}
#list-plans {
  height: 650px;
  margin: 40px auto;
  background-color: #EDEDED;
}

#list-plans h3 {
  text-transform: uppercase;
  font-size: 22px;
  color: #666;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin: auto;
  padding-top: 40px;
}

hr {
  height: 8px;
  width: 315px;
  background-color: #53C6A3;
  border: 1px solid transparent;
}
.plan {
  width: 315px;
  height: 480px;
  border: 2px solid lightgrey;
  display: inline-block;
  background-color: white;
  position: relative;
  margin: 80px 7px 0 7px;

}

#plan-left {
  background-color: #FAFAFA;
}
#plan-left h3 {
  color: #53C6A3;
  font-size: 24px;
}
#plan-middle {
  background-color:#53C6A3;
  border: 2px solid #53C6A3;
}
#plan-middle h3 {
  color: white;
  font-size: 24px;
}
#plan-right {
  background-color: #FAFAFA;
}
#plan-right h3 {
  color: #53C6A3;
  font-size: 24px;
}
.kolo {
  position: absolute;
  top: -40px;
  left: 127.5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid lightgrey;
  background-color: white;
}
.male-kolo {
  position: absolute;
  top: -23.5px;
  left: 144px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: lightgrey;
}
.plan h3 {
  text-align: center;
  line-height: 0rem;
}
.cena-kolo {
  position: absolute;
  margin: 0;
  top: 75px;
  left: 100px;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 2px solid lightgrey;
  text-align: center;
  line-height: 2em;
  color: #B5B5B5;
  background-color: white;

}

.cena-kolo p:first-child {
  font-size: 40px;
  padding-top: 18px;
  font-weight: bolder;
}
.cena-kolo p:last-child {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.cena-kolo sup {
  font-size: 14px;
  vertical-align: 25px;
}
.text-inside {
  width: 312px;
  position: absolute;
  top: 215px;
  margin: 0;
  line-height: 3rem;
  background-color: white;
}
.text-inside p {
  text-align: center;
  font-size: 24px;
}
#plan-middle div:nth-child(3) {
  border: 2px solid white;
}


#text-left p:first-child {
  background-color: lightgrey;
  color: #999;
}

#text-left p:last-child {
  background-color: #F2F2F2;
  color: grey;

}

#text-middle {
  width: 305px;
  margin: auto 3px;
  color: #999;
}

#text-middle p:nth-child(2) {
  background-color: #F2F2F2;
}

#text-right {
  background-color: lightgrey;
  color: #999;
}
#text-right p:nth-child(2) {
  background-color: #F2F2F2;
}
#text-right p:nth-child(4) {
  background-color: #F2F2F2;
}

.choice-btn {
  position: absolute;
  bottom: 15px;
  left: 97px;
  width: 120px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  background-color: #53C6A3;
}

#plan-middle input {
  background-color: white;
  color: #53C6A3;
}
#plan-middle .kolo {
  background-color: #53C6A3;
  border: 1px solid #53C6A3;
}

#plan-middle .male-kolo {
  background-color: #F2F2F2;
}
#plan-middle .cena-kolo {
  border: 2px solid white;
}


#formula {
  width: 100%;
  height: 600px;
  background-color: white;
}
#formula h3 {
  text-transform: uppercase;
  font-size: 22px;
  color: #666;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin: auto;
}

#message {
  resize: none;
  height: 200px;
}
*::-webkit-input-placeholder {
    color: lightgrey;
    padding: 15px;

}
.form {
  margin-top: 20px;
  display: block;
  width: 60%;
  font-size: 30px;
  border: 1px solid #53C6A3;

}
input {
  height: 70px;
}
